*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(243, 233, 233);
}
.main{
   
    width: 100%;
    height: 100vh;
}
.container{
    background-color: orange;
    width: 350px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
}

.header{
    text-align: center;
    margin-bottom: 30px;
}

.grupo{
    padding: 10px;
}
.grupo label{
    display: block;
}
.grupo .control{
    display: block;
    padding: 5px 2px;
    border-radius: 5px;
    width: 100%;
}

#btn{
    margin: 0px;
    width: 100%;
    border-radius: 5px;
    padding: 7px 2px;
    background-color: #26a641;
    border: 0px;
    cursor: pointer;
    color: white;
}
#btn:hover{
    background-color: #32b648;
}
